* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px 35px;
    background-color: black;
    background-image: url("../images/binary.jpg");
    position: -webkit-sticky;
    position: sticky;
    background-size: cover;
    background-attachment: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

:root {
    --primary-color: black;
    --secondary-color: #024e76;
}
header a {
    font-size: 36px;
    text-decoration: none; 
    color: #ffffff;  
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-decoration: none;
    color: (#ffffff);
    text-shadow: 0 0 10px #09ff01;
    text-decoration-color: (#ffffff)
}

header nav {
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    text-shadow: 0 0 15px #09ff01; 
}

.hero{
    background-image: url("../images/binary.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 0%;
}

.WIM{
    justify-content: center;
    
}

.WIM img{
    width: 300px;
    height: auto;
    
}

.WIM.img{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.WIM h2 {
    text-shadow: 0 0 15px #09ff01;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

.WIM p {
    margin: 20px;
    padding-left: 40px;
    padding-right: 40px;
    align-items:center;
}

.WID {
    margin: 20px;
    flex: 1;
}

.WID h2 {
    text-shadow: 0 0 15px #09ff01;
    color: #ffffff;
    font-size: 40px;
    text-align: center; 

}

.WID-head {
    font-size: 50px;
}

.WID-image{
    position: relative;
    margin-left: 40px;
}

.WHO{
    width: 400px;
    height: auto;
}

.WHA{
    width: 500px;
    height: auto;
}
.WID p {
    text-align: center;
}

.contact-info{
    margin-left: 60px;
    justify-content: center;
    position: relative;

}

.contact h2{
    text-shadow: 0 0 15px #09ff01;
    color: #ffffff;
    margin-left: 60px;
    margin: 0 0 20px 60;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      flex: 1;
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header{
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
}

