* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px 35px;
    background-color: black;
    background-image: url("../images/binary.jpg");
    position: -webkit-sticky;
    position: sticky;
    background-size: cover;
    background-attachment: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

:root {
    --primary-color: black;
    --secondary-color: #024e76;
}
header a {
    font-size: 36px;
    text-decoration: none; 
    color: #ffffff;  
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-decoration: none;
    color: (#ffffff);
    text-shadow: 0 0 10px #09ff01;
    text-decoration-color: (#ffffff)
}


header nav {
    margin: 8px 0;
}



header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    text-shadow: 0 0 15px #09ff01; 
}

.hero{
    background-image: url("../images/binary.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 0%;
}

.WIM{
    border: 3px solid var(#09ff00);
    background: var(#1aa815)
}

.WIM h2 {
    text-shadow: 0 0 15px #09ff01;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

.WIM p {
    margin: 20px;
    padding-left: 40px;
    padding-right: 40px;
    align-items:center;
}

.WID {
    margin: 20px;
    flex: 1;
}

.WID h2 {
    text-shadow: 0 0 15px #09ff01;
    color: #ffffff;
    font-size: 40px;
    text-align: center; 

}

.WID-image{
    position: relative;
    margin-left: 40px;
}

.WID p {
    text-align: center;
}

.contact-info{
    margin-left: 60px;
    justify-content: center;
    position: relative;

}

.contact h2{
    text-shadow: 0 0 15px #09ff01;
    color: #ffffff;
    margin-left: 60px;
    margin: 0 0 20px 60;
}


